
<!-- Card with login and signup buttons -->
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card col-sm-4 p-5 mx-auto mt-5">
      <img class="card-img-top start-logo" src="images/dog-log-typo.svg" alt="Petify-logo">
      <div class="card-block">
          <!-- Trigger the modal SIGNUP with a button -->
          <button type="button" class="btn btn-dark btn-lg start-btn" data-toggle="modal" data-target="#register">Register your pet</button>
          <!-- Trigger the modal LOGIN with a button -->
          <button type="button" class="btn btn-dark btn-lg start-btn" data-toggle="modal" data-target="#login">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Open the modal SIGNUP-->
<div id="register" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="text-center">Register your pet</h3>
      </div>
      <div class="modal-body">
        <form action="/auth/signup" method="post">
          <div class="form-group">
            <label for="name">Petname</label>
            <input name="petname" type="text" class="form-control" value="" required>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="name">Ownername</label>
              <input name="ownername" type="text" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input name="password" type="password" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="password2">Confirm password</label>
              <input name="password2" type="password" class="form-control" value="" required>
            </div>
            <br>
            <div class="form-group">
              <label for="name">Location</label>
              <input name="location" type="text" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Animal Type</label>
              <select class="form-control" id="exampleFormControlSelect1" name="animaltype">
               <option>Dog</option>
               <option>Cat</option>
               <option>Bird</option>
               <option>Rabbit</option>
               <option>Rat</option>
               <option>Hamster</option>
               <option>Reptile</option>
               <option>Fish</option>
               <option>Guinea Pig</option>
               <option>Ferret</option>
               <option>Chincilla</option>
               <option>Insects</option>
               <option>Amphibians</option>
               <option>Horse</option>
               <option>Goat</option>
               <option>Donkey</option>
               <option>Ducks</option>
               <option>Chicken</option>
               <option>Mouse</option>
               <option>Turtle</option>
               <option>Other exotics</option>
             </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Animal sex</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="exampleRadios1" value="male" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" id="exampleRadios2" value="female">
                <label class="form-check-label" for="exampleRadios2">
                  Female
                </label>
              </div>
              <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="sex" id="exampleRadios3" value="hermaphrodite">
                <label class="form-check-label" for="exampleRadios3">
                  Hermaphrodite
                </label>
              </div>
            </div>
              <br>
              <div class="form-group">
                <div class="form-group">
                  <button type="submit" class="btn btn-dark">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Open the modal LOGIN-->
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="text-center">Login</h3>
      </div>
      <div class="modal-body">
        <form action="/auth/login" method="post">
          <div class="form-group">
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input name="password" type="password" class="form-control" value="" required>
            </div>
            <br>
            <br>
            <div class="form-group">
              <div class="form-group">
                <button type="submit" class="btn btn-dark">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
