
<div class="container mt-4" >
  <div class="row" style="min-height: 750px">

    <div class="col-8 mx-auto silver">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Searchresults for '<%= search %>'
        </h1>
      </div>
      <hr/>

<% results.forEach((result) => { %>
  <div class="card">
    <div class="search-result-container">
      <div class="photo-box-small m-2 ">
        <img src="/<%= result.pictures %>" alt="" class="picture-size-small"/>
      </div>
      <div class="link ml-4">
        <a href="/profile/<%= result._id%>" class="search-link"><%= result.petname %></a>
      </div>
    </div>
  </div>
<% }) %>

    </div>
  </div>
</div>
