<div class="container mt-4" >
  <div class="row" style="min-height: 750px">

    <div class="col-8 mx-auto silver">
      <div class="row ml-2 mt-2">
        <h1 class="display-4">
          Searchresults for '<%= search %>'
        </h1>
      </div>
      <hr/>
    </div>
  </div>
</div>
