* {
  font-family: 'Nunito', sans-serif;
}

.error {
  background-image: url('/images/background.png');
  min-height: 700px;
}

.start-logo {
  width: 150px;
  margin: 0 auto;
}

.start-btn {
  width: 280px;
  display: block;
  margin: 30px auto;
  text-align: center;
}

.red-box {
  outline: none;
  border-color: #FFFF;
  box-shadow: 0 0 10px #ff0000;
}

.modal-block {
  display:block;
  overflow-y: auto;
}

.opacity {
  opacity: 0.5 !important;
}

.l-height {
    line-height:2px !important;
}

.silver {
  background-color: #F5F5F5;
}

.dodger {
  background-color: #1098F7;
}

.black {
  background-color: #000000;
}

.like-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #1098F7;
}

.post-box {
  min-height: 75px;
}

.like-box {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 7px;
  bottom: 9px;
}

.transform-box {
  animation-name: pop;
  animation-duration: 0.3s;
}

.like-logo {
  width: 22px;
  padding: 3px;
}

.logo-toggle,
.logo-toggle-active {
  position: absolute;
  border-radius: 50px;
}

.hidden {
  display: none;
}

.black-b {
  border: 1px solid black;
}

.yellow-b {
  border: 1px solid #FADB60;
}

/* The animation code */
@keyframes pop {
    0% {
    bottom: 9px;
    }
    50% {
    bottom: 14px;
    }
    100% {
    bottom: 9px;
    }

}
